
@font-face {
  font-family: "Harriet Text Bold";
  src: url("./HarrietText-Bold.otf");
}

@font-face {
  font-family: "HarrietTestText-Regular";
  src: url("./HarrietTestText-Regular.otf");
}



.title{
  font-family: "Harriet Text Bold", sans-serif !important;
  text-transform: capitalize !important; 
  font-size: 2em !important;
  
}


h4 {
    font-family: "Harriet Text Bold", sans-serif !important;
    text-transform: uppercase !important;
    font-weight: 400 !important;
}


.description.text{
 font-family: "HarrietTestText-Regular", sans-serif !important;
 text-transform: lowercase !important;
}
